.App {
  text-align: center;
}
.heading-text{
  background-color : black;
  color : white ;
  /* width : 50% ; 
   margin : 0 auto; */
}
.input-box{
      padding: 1rem;
      width: 45%;
      margin: 3rem 1rem;
}
.main-icon{
            /* background-color: #222; */
            font-size: 2rem;
            padding: 1rem;
            cursor: pointer;
}

